<div class="container-fluid">
  <div>
    <h3><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Oil and Gas Challenge - Management Dashboard</h3>
  </div>

  <app-status-bar></app-status-bar>

  <div class="panel panel-default">
    <div class="panel-heading">
      <ul class="nav nav-pills">
        <li role="presentation" [ngClass]="activeTabIndex === 0 ? 'active' : ''"><a (click)="onActiveTab(0)">General</a></li>
        <li role="presentation" [ngClass]="activeTabIndex === 1 ? 'active' : ''"><a (click)="onActiveTab(1)">Game management</a></li>
        <li role="presentation" [ngClass]="activeTabIndex === 2 ? 'active' : ''"><a (click)="onActiveTab(2)">Rankings</a></li>
      </ul>
    </div>
    <div class="panel-body panel-body-main">
      <div [ngClass]="activeTabIndex === 0 ? '' : 'display-none'">
        <app-admin-general></app-admin-general>
      </div>
      <div [ngClass]="activeTabIndex === 1 ? '' : 'display-none'">
        <app-game-management></app-game-management>
      </div>
      <div [ngClass]="activeTabIndex === 2 ? '' : 'display-none'">
        <app-admin-ranking></app-admin-ranking>
      </div>
    </div>
  </div>
</div>
