.glyphicon {
  font-size: 16px;
}

.row-round {
  text-align: center;
}

.display-none {
  display: none;
}

.width-100 {
 width: 100%;
}

.pointer {
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #ccc;
}


