<div class="form-inline">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group width-100">
        <input class="form-control width-100"
               [ngClass]="(gameLoaded) ? '' : 'display-none'  "
               value="{{loadedGame?.name}}"
               [disabled]="true">
        <div [formGroup]="warRoomForm">
          <select class="form-control width-100"
                  [ngClass]="(!addMode && !gameLoaded) ? '' : 'display-none'  "
                  formControlName="warRoom"
                  (change)="onWarRoomChanged()">
            <option *ngFor="let room of warRooms"
                    [value]="room"> {{room}}
            </option>
          </select>
        </div>
        <input class="form-control width-100"
               [ngClass]="(addMode) ? '' : 'display-none'  "
               id="addWarRoom"
               autofocus
               (keyup)="isWarRoomNameValid()"
               #addWarRoom>
      </div>
    </div>
    <div *ngIf="!addMode && !gameLoaded">
      <div class="col-xs-2">
        <div class="form-group">
          <a class="pointer" (click)="onLoadWarRoom()">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Load
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="!addMode && !gameLoaded">
      <div class="col-xs-2">
        <div class="form-group">
          <a class="pointer" (click)="onAddWarRoom()">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="addMode">
      <div class="col-xs-2">
        <div class="form-group">
          <a [ngClass]="!validWarRoomName ? 'disabled' : 'pointer'"
             (click)="onWarRoomSave()">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Save
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="addMode || gameLoaded">
      <div class="col-xs-2">
        <div class="form-group">
          <a class="pointer"  (click)="onCancelEdit()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="gameLoaded ? '' : 'display-none'">
  <hr>
  <div class="row row-round">
    <div class="col-md-2 col-xs-12">
      <button type="button"
              class="btn btn-default"
              (click)="onMoveToNextRound()"
              [disabled]="loadedGame?.currentRound > 4">Next Round</button>
    </div>
    <div class="col-md-10 col-xs-12">
      <div class="row">
        <div class="col-xs-2">
          Awaiting Players
        </div>
        <div class="col-xs-2">
          Round 1
        </div>
        <div class="col-xs-2">
          Round 2
        </div>
        <div class="col-xs-2">
          Round 3
        </div>
        <div class="col-xs-2">
          Round 4
        </div>
        <div class="col-xs-2">
          Finalized
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <span class="glyphicon"
                aria-hidden="true"
                [ngClass]="getRoundIcon(0)"></span>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon"
                aria-hidden="true"
                [ngClass]="getRoundIcon(1)"></span>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon"
                aria-hidden="true"
                [ngClass]="getRoundIcon(2)"></span>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon"
                aria-hidden="true"
                [ngClass]="getRoundIcon(3)"></span>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon"
                aria-hidden="true"
                [ngClass]="getRoundIcon(4)"></span>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon"
                aria-hidden="true"
                [ngClass]="getRoundIcon(5)"></span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <span>Refresh in {{timeToRefresh}}</span> <a class="pointer" (click)="refreshGame()">Refresh now</a>
    <ul class="nav nav-tabs">
      <li class="pointer" [ngClass]="activeView === 0 ? 'active' : ''" role="presentation">
        <a (click)="activeView = 0; updateView()">Status</a>
      </li>
      <li class="pointer" [ngClass]="activeView === 1 ? 'active' : ''" role="presentation">
        <a (click)="activeView = 1; updateView()">Table</a>
      </li>
      <li class="pointer" [ngClass]="activeView === 2 ? 'active' : ''" role="presentation">
        <a (click)="activeView = 2; updateView()">Leaderboard</a>
      </li>
      <li class="pointer" [ngClass]="activeView === 3 ? 'active' : ''" role="presentation">
        <a (click)="activeView = 3; updateView()">Progress</a>
      </li>
    </ul>
    <app-status-table [ngClass]="activeView === 0 ? '' : 'display-none'" #statustable></app-status-table>
    <app-table-scores [ngClass]="activeView === 1 ? '' : 'display-none'" #tablescores></app-table-scores>
    <app-leaderboard-chart [ngClass]="activeView === 2 ? '' : 'display-none'" #leaderboard></app-leaderboard-chart>
    <app-progress-chart [ngClass]="activeView === 3 ? '' : 'display-none'" #progress></app-progress-chart>
  </div>
</div>
