<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-xs-2">
      <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>{{game.teamName}}
    </div>
    <div class="col-sm-9 col-xs-9" style="text-align: center">
      <div class="row">
        <div class="col-xs-12 col-sm-6"
              [ngClass]="game.cashInHand < 0 ? 'cash-in-hand' : ''">
          <a>Cash in hand:</a> {{game.cashInHand | currency:'USD':true:'1.0-0'}}
        </div>
        <div class="col-xs-12 col-sm-6">
          <a>Company valuation:</a> {{game.companyValuation | currency:'USD':true:'1.0-0'}}
        </div>
      </div>
    </div>
    <div class="col-sm-1 pull-right col-xs-1">
      <a href="#" data-toggle="modal" data-target="#myModal" class="pull-right">Exit</a>
    </div>
  </div>
</div>

