<div [ngClass]="getPanelStyle()" class="panel">
  <div class="panel-heading pointer" (click)="openAssetCard(asset.name)">{{asset.name}}</div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li *ngFor="let round of getRounds(); let i = index;"
          role="presentation" [ngClass]="getRoundToShow() === (i + 1) ? 'active' : ''">
        <a class="round-title pointer" (click)="roundClick(i + 1)"> Round {{i + 1}} </a>
      </li>
    </ul>
    <div *ngFor="let round of getRounds(); let i = index;">
      <app-asset-round  [ngStyle]="{'display': getRoundToShow() === (i + 1) ? 'block' : 'none'}"
                        [round] = "i + 1"
                        [asset] = "asset">
      </app-asset-round>
    </div>
  </div>
</div>
