<app-navbar></app-navbar>
<div id="submit-div">
  <button id= "submit"
          type="button"
          class="btn btn-primary btn-md"
          (click)="onSubmit()"
          [disabled]="canSubmit()">
          {{getSubmitButtonText()}}</button>
</div>

<div class="container-fluid" id="main-screen">
  <div id="results" *ngIf="showResults()">
    <app-result></app-result>
  </div>
  <div id="assets">
    <app-assets></app-assets>
  </div>
</div>
<app-footer></app-footer>

<!--Modal War Room-->
<app-war-room-round [(visible)]="showWarRoomDialog"
                    (visibleChange)="onWarRoomDialogVisibleChanged($event)"
                    #warRoomDialog>
</app-war-room-round>


<!-- Modal Exit -->
<div class="modal fade" id="myModal" tabindex="-1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Exit</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to exit the game?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue playing</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onExit()">Exit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




