.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  padding-top: 70px;
}

#submit {
  display: block;
  margin: 10px auto;
  width: 20%;
}

#results {
  margin-top: 15px;

}

#assets {
  margin-top: 15px;

}

#main-screen {
  position: absolute;
  width: 100%;
  top: 90px;
  bottom: 40px;
  overflow-y: scroll;
}
